In [1]:
# Importar librerias

import pandas as pd

In [2]:
#Cargamos la base de datos

data = pd.read_csv('StudentsPerformance.csv')

In [7]:
data.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

In [9]:
# Si queremos saber los distinto valores de la variable lunc en la base de datos

data['lunch'].value_counts()

standard        645
free/reduced    355
Name: lunch, dtype: int64

In [10]:
# Si queremos saber los distinto valores de la variable race/ethnicy en la base de datos

data['race/ethnicity'].value_counts()

group C    319
group D    262
group B    190
group E    140
group A     89
Name: race/ethnicity, dtype: int64

In [12]:
# Si queremos saber los distinto valores de la variable Gender en la base de datos

data['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

## Ejemplo:(Media) 

En un juego de baloncesto entre un grupo de 10 amigos, la escena se complica cuando Juan, un aficionado a la estadística, plantea su descontento respecto a la conformación de los equipos. Con un ojo agudo para los números, argumenta que el promedio de estatura en uno de los equipos supera al del otro. Enfrentados a este dilema, el reto consiste en calcular de manera meticulosa el promedio de estatura tanto del grupo completo como de cada uno de los equipos por separado. A partir de los datos proporcionados, calcular el promedio de estatura de todos los integrantes y de cada uno de los equipos con el fin de confirmar o refutar la hipótesis de Juan.

Equipo 1: 170, 165, 178, 160, 175

Equipo 2: 175, 179, 168, 178, 163

In [16]:
import numpy as np

# Estaturas de los equipos
estaturas_equipo_1 = [170, 165, 178, 160, 175]
estaturas_equipo_2 = [175, 179, 168, 178, 163]


media_equipo1 = np.mean(estaturas_equipo_1)
media_equipo2 = np.mean(estaturas_equipo_2)


# Imprimir resultados
print(f'La media del equipo 1 es {media_equipo1:.1f} y la media del equipo 2 es {media_equipo2:.1f}')

La media del equipo 1 es 169.6 y la media del equipo 2 es 172.6

### Ejemplo 2: 
Usted ha sido designado para desarrollar una aplicación móvil que rastree el tiempo dedicado al ejercicio por parte de un usuario. Los datos registrados de un usuario, que reflejan la cantidad de minutos que ha empleado la aplicación cada día durante un período de 10 días, se presentan a continuación:

91, 76, 80, 113, 110, 80, 76, 85, 89, 93


Calcular la mediana de los datos.

In [17]:
minutos = [91, 76, 80, 113, 110, 80, 76, 85, 89, 93]
mediana= np.median(minutos)

87.0

In [18]:
media= np.mean(minutos)

89.3

### Ejemplo 3 (Cálculo de la moda): 

Se le ha asignado la tarea de analizar las ventas diarias de paneles solares de una empresa durante un período. Los datos recopilados se presentan a continuación. Su tarea es calcular la moda, es decir, determinar el valor que más frecuentemente aparece en las ventas diarias.

0, 4, 10, 15, 19,
0, 4, 10, 15, 19,
2, 6, 11, 15, 20,
2, 8, 14, 16, 22.

In [20]:
ventas = [0, 4, 10, 15, 19, 0, 4, 10, 15, 19, 2, 6, 11, 15, 20, 2, 8, 14, 16, 22]

In [19]:
import statistics

In [21]:
moda = statistics.mode(ventas)
print(moda)

15

In [24]:
temps =[20, 19, 20, 20, 19, 19, 20, 20, 19, 18]

max_temp = max(temps)
min_temp = min(temps)

In [26]:
rango = max_temp - min_temp

In [27]:
print(rango)

2