In [ ]:
import matplotlib.pyplot as plt

In [ ]:
colores = ['Amarillo', 'Verde', 'Morado' , 'Azul']

cantidades =[12, 8, 22, 16]

In [ ]:
# Creamos el gráfico Diagrama de barras( Bar PLot)

colors = ['yellow', 'gray','purple','blue']
plt.bar(colores, cantidades, edgecolor ='black', color = colors)
plt.title('Ventas de Bufandas')
plt.ylabel('Cantidad')
plt.show()

In [ ]:
help(plt.bar)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
data  = pd.read_csv('StudentsPerformance.csv')

In [ ]:
data.head()

In [ ]:
tabla_gender = data['gender']

In [ ]:
tabla_gender.value_counts()

In [ ]:
table_math_score = data['math score'].value_counts()

In [ ]:
table_math_score

In [ ]:
x = [77, 18, 63, 84, 34, 59, 59, 54, 56, 36, 26, 34, 44,
        41, 58, 58, 53, 51, 62, 43, 52, 53, 63, 62, 65, 51, 62, 60, 68, 45, 65, 83, 71, 63, 58, 61]

In [ ]:
len(x)

In [ ]:
k = 7

val_min = min(x)
val_max = max(x)

In [ ]:
print(val_max, val_min)

In [ ]:
A  = (val_max - val_min ) / k

In [ ]:
print(A)

In [ ]:
A=9.43

In [ ]:
# Definir los límites de clase
limites = [round(val_min + A * i,2) for i in range(k+1)]

In [ ]:
limites

In [ ]:
# Crear el DataFrame con las frecuencias
df = pd.cut(x, bins=limites, include_lowest = True, right=False) # pd.cut() es una función que permite dividir los datos
                                                                    # en los diferentes límites

In [ ]:
df = pd.value_counts(df, sort=False).reset_index()  #El parámetro sort se debe seleccionar como falso para que no ordene
                                                   # los intervalos en orden descendente según las frecuencias, sino que
                                                    # conserve el orden en que fueron definidos

In [ ]:
df

In [ ]:
# Renombramos las columnas

df.columns = ['Intervalo', 'Frecuencia']

In [ ]:
df

In [ ]:
# creemos el cálculo de las diferentes frecuencias
# Calcular la frecuencia acumulada
df['Frecuencia acumulada'] = df['Frecuencia'].cumsum()

In [ ]:
df

In [ ]:
# Calcular la frecuencia relativa
df['Frecuencia relativa'] = df['Frecuencia'] / len(x)

In [ ]:
df

In [ ]:
# Calcular la frecuencia relativa acumulada
df['Frecuencia relativa acumulada'] = df['Frecuencia relativa'].cumsum()

In [ ]:
df

In [ ]:
#Calculamos la marca de clase:
df['Marca de clase'] = df['Intervalo'].apply(lambda x: (x.left + x.right) / 2)

In [ ]:
df

In [ ]:
marcas = df['Marca de clase']

frecuencias = df['Frecuencia']

In [ ]:
plt.bar(marcas, frecuencias,width = A,edgecolor = 'black')
plt.title('Frecuencia de compras')
plt.ylabel('Número de compras')
plt.xticks(ticks = marcas,rotation = 45)
plt.show()

In [ ]:
# Podemos elaborar un histograma directamente de los datos, sin necesidad de crear una tabla de frecuencias

In [ ]:
x = [77, 18, 63, 84, 34, 59, 59, 54, 56, 36, 26, 34, 44,
        41, 58, 58, 53, 51, 62, 43, 52, 53, 63, 62, 65, 51, 62, 60, 68, 45, 65, 83, 71, 63, 58, 61]

In [ ]:
plt.hist(x,bins = 7,edgecolor = 'black')
plt.title('Frecuencia de compras')
plt.xticks(ticks = marcas,rotation = 45)
plt.show()

Ejemplo práctico:

Considere la base de datos tomado de Kaggle:(Students Performance in Exams) sobre la cual se realizarán diferentes cálculos. https://www.kaggle.com/datasets/spscientist/students-performance-in-exams

In [1]:
import pandas as pd
#pd.set_option('display.precision', 1) # Configuramos Pandas para mostrar solo dos decimales en los valores numéricos

In [2]:
data = pd.read_csv('StudentsPerformance.csv')

In [3]:
data.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [4]:
# definimos el numero de clases

num_clases = 10

valores = data['math score']

val_max = valores.max()
val_min = valores.min()

A= (val_max- val_min)/ num_clases

In [5]:
A = 10.1

In [6]:
limites = [val_min + A* i for i in range(num_clases+1)]

In [7]:
limites

[0.0,
 10.1,
 20.2,
 30.299999999999997,
 40.4,
 50.5,
 60.599999999999994,
 70.7,
 80.8,
 90.89999999999999,
 101.0]

In [8]:
tabla_aux =pd.cut(valores, bins = limites, include_lowest = True, right = False)

tabla = pd.value_counts(tabla_aux, sort = False).reset_index()

In [9]:
tabla.columns = ['Intervalo', 'Frecuencia']

In [10]:
#Calculamos la marca de clase:
tabla['Marca de clase'] = tabla['Intervalo'].apply(lambda x: (x.left + x.right) / 2)

# Calcular la frecuencia acumulada
tabla['Frecuencia acumulada'] = tabla['Frecuencia'].cumsum()



# Calcular la frecuencia relativa
tabla['Frecuencia relativa'] = tabla['Frecuencia'] / tabla['Frecuencia'].sum()

# Calcular la frecuencia relativa acumulada
tabla['Frecuencia relativa acumulada'] = tabla['Frecuencia relativa'].cumsum()

# Mostrar la tabla de frecuencias
print(tabla)

       Intervalo  Frecuencia Marca de clase  Frecuencia acumulada  \
0    [0.0, 10.1)           2           5.05                     2
1   [10.1, 20.2)           2          15.15                     4
2   [20.2, 30.3)          12          25.25                    16
3   [30.3, 40.4)          34          35.35                    50
4   [40.4, 50.5)         100          45.45                   150
5   [50.5, 60.6)         189          55.55                   339
6   [60.6, 70.7)         270          65.65                   609
7   [70.7, 80.8)         215          75.75                   824
8   [80.8, 90.9)         126          85.85                   950
9  [90.9, 101.0)          50          95.95                  1000

   Frecuencia relativa  Frecuencia relativa acumulada
0                0.002                          0.002
1                0.002                          0.004
2                0.012                          0.016
3                0.034                          0.050
4                0.100                          0.150
5                0.189                          0.339
6                0.270                          0.609
7                0.215                          0.824
8                0.126                          0.950
9                0.050                          1.000